
.navbar {
    background-color: #004cb8; 
}

.content {
    padding-top: 50px; /* Ajusta la distancia entre la barra de navegación y el párrafo */
    margin-left: 20px; /* Ajusta la distancia del párrafo desde el borde izquierdo */
   
}
.paragraph-container {
    width: 50%; /* Puedes ajustar este valor según el diseño de tu página */
    float: left; /* Alinea el contenedor a la izquierda */
}
.image-container {
    float: right; /* Alinea el contenedor de la imagen a la derecha */
    margin-left: 20px; /* Ajusta el margen izquierdo según sea necesario */
    margin-right: 50px; /* Ajusta el margen derecho según sea necesario */
}

.image-container img {
    width: 450px; /* Establece el ancho deseado para la imagen */
}

.carousel-item img {
    height: 150px; /* Altura fija para las imágenes */
    width: auto; /* Ancho ajustado automáticamente */
    object-fit: cover; /* Cubrir el área visible con la imagen */
    margin: 10px auto; /* Añade margen alrededor de las imágenes */
    border-radius: 10px;
}
.carousel-item{
    padding: 20px;
}

.container {
    background-color: #6a0dad;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    color: white;
    margin-top: 50px;
}


.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.contact {
    max-width: 600px;
    width: 100%;
    padding: 30px;
}
.contact h2 {
    text-align: center;
    margin-bottom: 30px;
}
.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contact-item img {
    width: 60px;
    height: 60px;
    margin-right: 60px;
}
.contact-info {
    background-color: #28a745;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    flex-grow: 1;
}





